<div class="advantages row">
    <h2 class="title-block">Наши преимущества</h2>
    <ul class="col-xs-12">
        <li>
            <span class="fa fa-star-o" aria-hidden="true"></span>
            <span>Высокий уровень <br> сервиса</span>
        </li>
        <li>
            <span class="fa fa-list-ul" aria-hidden="true"></span>
            <span>Широкий ассортимент <br> продукции</span>
        </li>
        <li>
            <span class="fa fa-sort-amount-desc" aria-hidden="true"></span>
            <span>Гибкая ценовая <br> политика</span>
        </li>
        <li>
            <span class="fa fa-shield" aria-hidden="true"></span>
            <span>Надежность</span>
        </li>

        <li>
            <span class="fa fa-book" aria-hidden="true"></span>
            <span>Опыт и знания</span>
        </li>

        <li>
            <span class="fa fa-clock-o" aria-hidden="true"></span>
            <span>Оперативность</span>
        </li>
    </ul>
</div>
