<footer class="row">
    <div class="col-xs-12">
        <div class="copyright">
            <a href="#" class="logo">
                <img src="img/logo.png" alt="">
            </a>
            <p>© <span id="year"></span> Valant.ru — ваш надежный поставщик электротехники</p>
        </div>
        <div class="requisites">
            ООО «Тарго-Трейд»<br>
            ОГРН: 1137746628337<br>
            Адрес: 121351, г. Москва, ул. Коцюбинского, д. 4<br>
            Телефон: +7 (495) 443 55 94
        </div>
        <div class="menu-list">
            <div class="title">Комплектующие:</div>
            <ul>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> О компании</a></li>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Производители</a></li>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Услуги и Решения</a></li>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Клиенты</a></li>
            </ul>
        </div>
        <div class="menu-list">
            <div class="title">Оборудование:</div>
            <ul>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Отраслевые направления</a>
                </li>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Новости</a></li>
                <li><a href="#"><span class="fa fa-arrow-right" aria-hidden="true"></span> Контакты</a></li>
            </ul>
        </div>
    </div>
</footer>
