<div class="top-panel row">
    <div class="logo-area col-md-3 col-sm-4 col-xs-12">
        <!--a href="#" class="logo">
            <img src="img/logo.png" alt="Тарго-Трейд" title="Тарго-Трейд">
            <span>Промышленное оборудование для нефтегазовых объектов.</span>
        </a-->
        <div class="logo">
            <img src="img/logo.png" alt="Тарго-Трейд" title="Тарго-Трейд">
            <span>Промышленное оборудование для нефтегазовых объектов.</span>
        </div>
    </div>
    <form class="search-area col-lg-6 col-md-5 col-sm-4 col-xs-12">
        <p>Надежный поставщик электротехники для для нефтегазовых объектов</p>
        <div class="form-group input-group form-group-sm">
            <input type="search" class="form-control" placeholder="Поиск по сайту">
            <div class="input-group-addon">
                <button type="button" role="button"><span class="fa fa-search" aria-hidden="true"></span> <span class="hidden-sm hidden-xs">поиск</span></button>
            </div>
        </div>
    </form>
    <div class="contacts col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <a href="tel:+7 (495) 443 55 94" class="phone">
            +7 (495) 443 55 94 <span class="fa fa-phone-square" aria-hidden="true"></span>
        </a>
        <button type="button" class="write-us" data-toggle="modal" data-target="#send-application" role="button">
            Напишите нам письмо <span class="fa fa-envelope" aria-hidden="true"></span>
        </button>
    </div>
</div>

<nav class="nav-panel row">
    <div class="col-xs-12">
        <div class="menu-toggle logo">Меню сайта</div>
        <ul class="menu">
            <li class="active"><span class="fa fa-home"></span></li>
            <li><a href="#">О нас</a></li>
            <li><a href="#">Производители</a></li>
            <li><a href="#">Спецпредложения</a></li>
            <li><a href="#">Оборудование</a></li>
            <li><a href="#">Доставка</a></li>
            <li><a href="#">Контакты</a></li>
        </ul>
    </div>
</nav>
