<div class="slider row">
    <div class="col-xs-12">
        <div id="slider" class="owl-carousel owl-theme">
            <div class="item"><img src="img/slide.jpg" alt=""></div>
            <div class="item"><img src="img/slide-2.jpg" alt=""></div>
            <div class="item"><img src="img/slide-3.jpg" alt=""></div>
            <div class="item"><img src="img/slide-4.jpg" alt=""></div>
        </div>
        <ul class="control">
            <li class="back fa fa-angle-left" aria-hidden="true"></li>
            <li class="forth fa fa-angle-right" aria-hidden="true"></li>
        </ul>
    </div>
</div>
