footer {
  padding-bottom: 20px;
  font-size: 13px;
  .copyright {
    @include to('m') {
      width: 100%;
      margin-bottom: 20px;
    }
    img {
      margin-bottom: 20px;
    }
    p {
      line-height: 1.5;
    }
  }
  .requisites {
    line-height: 1.7;
    padding-right: 15px;
    @include to('m') {
      margin-bottom: 20px;
    }
  }
  .title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 5px;
  }
  .col-xs-12 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    @include to('m') {
      flex-wrap: wrap;
    }
  }
}

.menu-list {
  padding-right: 15px;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    @include to('xs') {
      margin-bottom: 20px;
    }
    li {
      margin-bottom: 5px;
    }
  }
}
