.top-panel {
  padding: 20px 0 15px;
  background-color: #fff;
  .logo-area {
    img {
      margin: 0 auto 15px;
    }
    a {
     color: #474747;
      display: inline-block;
      &:hover {
        text-decoration: none;
        opacity: .7;
      }
    }
    @include to('m') {
      text-align: center;
      span {
        display: inline-block;
      }
    }
  }
  .search-area {
    padding-top: 10px;
    @include to('s') {
      text-align: center;
    }
    p {
      margin-bottom: 20px;
    }
    .input-group-addon {
      padding: 0;
      button {
        padding: 6px 12px;
        background-color: transparent;
        border: 0;
      }
    }
  }
  .contacts {
    margin: 0;
    padding-left: 0;
    padding-top: 5px;
    text-align: right;
    list-style: none;
    .phone,
    .write-us {
      @include transition(all .3s ease);
      .phone:hover,
      .write-us:hover,
      &:hover {
        color: #ff6100;
        .fa {
          color: #2e4a67;
        }
      }
    }
    .fa {
      margin-left: 10px;
      color: #ff6100;
      font-size: 24px;
      line-height: .8;
      @include transition(all .3s ease);
    }
    .phone {
      margin-bottom: 10px;
      font-size: 24px;
      color: #444;
      display: inline-block;
      .fa {
        font-size: 28px;
        @include to('m') {
          display: none;
        }
      }
      &:hover {
        text-decoration: none;
      }
    }
    .write-us {
      padding: 0;
      border: 0;
      background-color: transparent;
      @include from('m') {
        span {
          vertical-align: middle;
        }
      }
      @include to('m') {
        color: #ff8401;
      }
      @include at('s') {
        .text {
          display: none;
        }
      }
    }
  }
}
